<h1>Login</h1>
<form action="/login" method="post">
  <label for="html">Full name</label>
  <input type="text" name="fullname" required />
  <label for="html">Email</label>
  <input type="text" name="email" required />
  <label for="html">Password</label>
  <input type="password" name="password" required />
  <button type="submit">Submit</button>
</form>